@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #03141ef5;
  --text-color: #fff;
  --fnt-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--fnt-family);
}
nav {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  color: var(--text-color);
  & .logo {
    border: 1px solid white;
    width: 1.3rem;
    background-color: #fff;
    border-radius: 50px;
  }

  & .nox {
    display: flex;
    gap: 10px;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
  & a {
    color: var(--text-color);
    text-decoration: none;
  }
}
.buttons {
  border-radius: 10px;
  padding: 8px 10px;
}
.hero-section img {
  width: 100%;
}
.hero-section {
  .hero-content {
    margin: -600px 200px;
    color: var(--text-color);
  }
  & h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
  }
  & p {
    max-width: 741px;
    word-break: break-all;
  }
  & button {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
  }
}
